@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Protest+Revolution&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
}

body {
  background: hsl(13, 31%, 94%);
  padding-bottom: 2vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

@media (min-width: 990px) {
  .large-screen-cols {
    display: flex;
    flex: 0 0 100%;
    gap: 2rem;
  }
  .large-screen-cols .col--1-3 {
    flex-basis: 33.3333%;
  }
  .large-screen-cols .col--2-3 {
    flex-basis: 66.6666%;
  }
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0.4rem 0;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.1em;
  font-weight: 600;
}

h3 {
  font-size: 1em;
  font-weight: 300;
}

.title-large {
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 1rem;
}

.btn {
  border-radius: 999rem;
  padding: 0.7em 1.6em;
  border: 1px solid hsl(14, 86%, 42%);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.btn--primary {
  background: hsl(20, 50%, 98%);
}

.btn--secondary, .food-item.food-item-selected .btn--primary {
  background: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
}

.btn:hover {
  cursor: pointer;
}

.btn--primary:hover {
  color: hsl(14, 86%, 42%);
}

.btn--secondary:hover, .food-item.food-item-selected .btn--primary:hover {
  background: #982c0b;
}

.btn--long {
  margin: 0 auto;
  width: 100%;
  padding: 1.1rem;
}

.food-item-list {
  display: grid;
  gap: 1rem 2rem;
}
@media (min-width: 600px) {
  .food-item-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .food-item-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.food-img {
  border-radius: 1em;
}

.food-item {
  margin-bottom: 1.5rem;
}
.food-item .btn {
  width: 50%;
  margin: 0 auto;
  transform: translateY(-40%);
}
.food-item .btn--primary:before {
  content: url(../assets/images/icon-add-to-cart.svg);
  padding-right: 0.4em;
}
.food-item .price:before {
  content: "$";
}
.food-item .price {
  color: hsl(14, 86%, 42%);
}
.food-item.food-item-selected .food-img {
  border: 3px solid hsl(14, 86%, 42%);
}
.food-item.food-item-selected .btn--primary {
  position: relative;
}
.food-item.food-item-selected .btn--primary::before, .food-item.food-item-selected .btn--primary::after {
  content: "";
  position: absolute;
  border: 1px solid hsl(20, 50%, 98%);
  border-radius: 50%;
  height: 1.4rem;
  width: 1.4rem;
  background-repeat: no-repeat;
  background-position: center;
}
.food-item.food-item-selected .btn--primary::before {
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" width="10" height="2"  viewBox="0 0 10 2"><path fill="%23FFF" d="M0 .375h10v1.25H0V.375Z"/></svg>');
  left: 0.5rem;
}
.food-item.food-item-selected .btn--primary::after {
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path fill="%23FFF" d="M10 4.375H5.625V0h-1.25v4.375H0v1.25h4.375V10h1.25V5.625H10v-1.25Z"/></svg>');
  right: 0.5rem;
}
.food-item.food-item-selected .btn--primary.before-hovered::before {
  background-color: hsl(20, 50%, 98%);
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" width="10" height="2"  viewBox="0 0 10 2"><path fill="%23C73A0F" d="M0 .375h10v1.25H0V.375Z"/></svg>');
}
.food-item.food-item-selected .btn--primary.after-hovered::after {
  background-color: hsl(20, 50%, 98%);
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path fill="%23C73A0F" d="M10 4.375H5.625V0h-1.25v4.375H0v1.25h4.375V10h1.25V5.625H10v-1.25Z"/></svg>');
}

.food-item:last-of-type {
  margin-bottom: 2rem;
}

.cart {
  background: hsl(20, 50%, 98%);
  border-radius: 1rem;
  padding: 1.4rem 2rem;
}
@media (min-width: 990px) {
  .cart {
    margin-top: 2rem;
    margin-left: 0.5rem;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.cart .cart-empty-content {
  display: none;
}
.cart h1 {
  color: hsl(14, 86%, 42%);
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
.cart.is-cart-empty .cart-content {
  display: none;
}
.cart.is-cart-empty .cart-empty-content {
  display: block;
  margin-top: 3.5rem;
  text-align: center;
}
.cart.is-cart-empty .cart-empty-content p {
  color: hsl(12, 20%, 44%);
  font-weight: 600;
  margin-bottom: 1.4rem;
}

.cart-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "title title title remove-btn" "no-of-item price1 price2 remove-btn";
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1.6px solid hsl(13, 31%, 94%);
}
.cart-item .cart-item-name {
  grid-area: title;
}
.cart-item .cart-item-no-of-items {
  color: hsl(14, 86%, 42%);
  grid-area: no-of-item;
}
.cart-item .cart-item-no-of-items::after {
  content: "x";
}
.cart-item .cart-item-price {
  grid-area: price1;
}
.cart-item .cart-item-price::before {
  content: "@ $";
}
.cart-item .cart-item-total-price {
  grid-area: price2;
}
.cart-item .cart-item-total-price::before {
  content: "$";
}
.cart-item .cart-remove-item {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 2px solid hsl(14, 25%, 72%);
  padding: 0.1rem;
  grid-area: remove-btn;
  margin: auto;
}

.cart-bill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 2rem;
}
.cart-bill h1 {
  text-align: end;
  color: hsl(14, 65%, 9%);
  margin: auto 0;
}

.cart-ad {
  background: hsl(13, 31%, 94%);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  margin: 2rem 0;
}

.order-confirm-dialog {
  border: none;
  max-height: 92%;
  width: 100%;
  max-width: 100%;
  top: auto;
  border-radius: 1rem 1rem 0 0;
  padding: 2.5rem 0.25rem;
  overflow: hidden;
}
@media (min-width: 990px) {
  .order-confirm-dialog {
    width: 40vw;
    top: 0;
    border-radius: 1rem;
    margin: auto;
    padding: 2.5rem 0.25rem 1rem;
  }
}
.order-confirm-dialog .container {
  background: hsl(20, 50%, 98%);
}
.order-confirm-dialog .title-large {
  max-width: 5ch;
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 600px) {
  .order-confirm-dialog .title-large {
    max-width: 50ch;
  }
}
.order-confirm-dialog .sub-heading {
  color: hsl(12, 20%, 44%);
  margin-bottom: 2.5rem;
}
.order-confirm-dialog .cart-content {
  background: hsl(13, 31%, 94%);
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  margin-bottom: 1.5rem;
}
.order-confirm-dialog .cart-content .cart-content-list {
  max-height: 35dvh;
  overflow-y: scroll;
}
.order-confirm-dialog .cart-content .cart-content-list::-webkit-scrollbar {
  display: none;
}
.order-confirm-dialog .cart-item * {
  margin-bottom: 0;
}
.order-confirm-dialog .cart-item {
  grid-template-columns: 0.13fr 0.67fr 0.2fr;
  grid-template-areas: "food-img title price2" "food-img food-details price2";
  border-bottom-color: hsl(14, 25%, 72%);
  gap: 0.2rem 0.5rem;
}
.order-confirm-dialog .cart-item .cart-food-img {
  grid-area: food-img;
  margin: auto 0;
  padding: 0.2rem;
  border-radius: 0.5rem;
  width: 100%;
  aspect-ratio: 1;
}
.order-confirm-dialog .cart-item .cart-item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.order-confirm-dialog .cart-item .cart-food-details {
  grid-area: food-details;
  display: flex;
  gap: 1rem;
}
.order-confirm-dialog .cart-item .cart-item-total-price {
  margin: auto 0;
  font-weight: 700;
  font-size: 1.1rem;
}
.order-confirm-dialog .cart-item:last-of-type {
  margin-bottom: 0;
}

.order-confirm-dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}/*# sourceMappingURL=main.css.map */